<!DOCTYPE html>
<html>
  <head>
    <title>Weather Forecaster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center mt-5">Weather Forecaster</h1>
      <%= yield %>
    </div>
  </body>
</html>
